 @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "VT323";
  font-size: 120px;
  text-align: center;
  color: red;
}

.mario-title {
  width: 149px;
  height: 29px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 0;
}

h3 {
  font-family: "Lato", Arial, Helvetica, sans-serif;

  display: block;
  margin: 0 auto;
  margin-top: 20px;

  font-size: 0.9rem;
  font-weight: 10;
  line-height: 1;
  padding: 0 15px;
  text-align: center;
}

.game-board {
  display: block;
  border: 5px solid rgb(99, 95, 95);
  width: 100%;
  height: 420px;
  border-bottom: 24px solid rgb(3, 206, 47);
  position: relative;
  overflow: hidden;
  background: linear-gradient(#10bafd, #e0f6ff);
}
div.mario-title img {
  width: 100px;
  height: 60px;
  margin-left: 20px;
  margin-bottom: -18px;
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 1.5s infinite linear;
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 500ms ease-out;
}

.clouds {
  position: absolute;
  width: 400px;
  height: 200px;
  padding: 10px;
  animation: clouds-animation 20s infinite linear;

  z-index: 0;
}

button{
    z-index: 10;
}

#restart {
  display: block;
  opacity: 0;
  margin: 0 auto;
  margin-top: 10px;
  background-color: chartreuse;
  border: 2px solid green;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  padding: 15px 25px;
  text-align: center;
  border-radius: 6px;

  
}
@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}
@keyframes jump {
  0% {
    bottom: 0;
  }

  60% {
    bottom: 180px;
  }
  50% {
    bottom: 180px;
  }
  60% {
    bottom: 180px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes clouds-animation {
  from {
    right: -450px;
  }
  to {
    right: 100%;
  }
}
