 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mario-title {
  width: 149px;
  height: 29px;
  justify-items: center;
  align-items: center;
  margin: 4px 0px 42px 16px;
}

h3 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #e8f8ff;
  font-size: small;
  font-style: italic;

  height: 2px;
  margin-left: 8px;
  margin-top: 6px;
}

.game-board {
  border: 5px solid rgb(99, 95, 95);
  width: 75%;
  height: 420px;
  border-bottom: 24px solid rgb(3, 206, 47);
  margin: 100px 5px 30px 80px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#10bafd, #e0f6ff);
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 1.5s infinite linear;
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 500ms ease-out;
}

.clouds {
  position: absolute;
  width: 400px;
  height: 200px;
  padding: 10px;
  animation: clouds-animation 20s infinite linear;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}
@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }
  50% {
    bottom: 180px;
  }
  60% {
    bottom: 180px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes clouds-animation {
  from {
    right: -450px;
  }
  to {
    right: 100%;
  }
}
